@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

.actionbar {
background-color: orange;
color: white;
}
.investments {
color: white;
font-size: 25px;	
text-align: center;	
}
.select {
margin-top: 15px;	
}
.label {
font-size: 18px;	
text-align: center;	
}
.calculate {
margin-bottom: 100px;
background-color: orange;
color: white;	
}
.dropdown {
font-size: 15px;	
text-align: center;	
margin-top: 20px;
margin-bottom: 20px;
}
.dropdownContainer {
border-radius: 10px;
border-width: 1;
border-color: #ccc;
margin-top: 10px;
margin-bottom: 10px;
width: 90%;
}
TextField {
border-radius: 10px;
border-width: 1;
border-color: #ccc;
padding-left: 5;
padding-top: 5;
padding-bottom: 5;
height: 40;
}

